{% extends 'base.html.twig' %}

{% block title %}Profession index{% endblock %}

{% block body %}
    <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Profession Index </h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{{path('profession_new')}}" class="btn btn-sm btn-primary">New</a>
                </div>
              </div>
            </div>
            <div class="card-body">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profession in professions %}
            <tr>
                <td>{{ profession.id }}</td>
                <td>{{ profession.name }}</td>
                <td>
                    <a href="{{ path('profession_show', {'id': profession.id}) }}">show</a>
                    <a href="{{ path('profession_edit', {'id': profession.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profession_new') }}">Create new</a>
{% endblock %}
