{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {# {% block maintitle %} Users List{% endblock %}  #}
   <div class="col-sm-8 order-xs-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Users List </h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{{path('user_new')}}" class="btn btn-sm btn-primary">Register New</a>
                </div>
              </div>
            </div>
            <div class="card-body">


    <table class="table align-items-center table-flush table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
            
              
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>LastName</th>
                <th>Gender</th>
				   <th>User Type</th>
				    <th>Department</th>
                <th>DateOfBirth</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.email }}</td>
               
              
                <td>{{ user.firstName }}</td>
                <td>{{ user.middleName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.gender }}</td>
				    <td>{{ user.userType }}</td>
					    <td>{{ user.department }}</td>
                <td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td><span class="badge {{ user.isActive ? 'badge-success' : 'badge-danger' }}">{{ user.isActive ? 'Yes' : 'No' }}</span></td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
      </div>
          </div>
        </div>
      </div>
{% endblock %}
